* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .resume-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bee0ec;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 150px;
    height: 145px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h1, h2 {
    color:#145369;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 20px;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#145369;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .profile-pic {
      width: 100px;
      height: 100px;
    }
  
    .resume-container {
      padding: 10px;
    }
  
    button {
      padding: 8px 16px;
    }
  }
  